@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.container.small {
  max-width: 1140px;
}

.container.xs-small {
  max-width: 1040px;
}

section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.home {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 128px 0;
}

.home-fullscreen::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.home-fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.about {
  p {
    font-size: 16px;
  }
}
