@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

.container {
  width: 90%;
}

.greeting,
.name,
.title,
.button-section,
.profile-img {
  opacity: 0;
}

.portfolio-items {
  & > div {
    height: 288px;
  }

  // @media screen and (min-width: 1536px) {
  //   & > div {
  //     flex-basis: calc(33.333333% - 16px) !important;
  //   }
  // }

  // @media (min-width: 768px) and (max-width: 1536px) {
  //   & > div {
  //     flex-basis: calc(50% - 16px) !important;
  //   }
  // }

  // @media screen and (max-width: 768px) {
  //   & > div {
  //     flex-basis: 100% !important;
  //   }
  // }
}

@media screen and (max-width: 1200px) {
  .navbar,
  .home,
  .skills,
  .portfolio,
  .contact {
    padding-left: 64px;
    padding-right: 64px;
  }
}
